.mobile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mobile-mobile {
  gap: 10px;
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: 37px 229px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/tq_oksir4mldq-8yje-1500w.png");
}
.mobile-main {
  gap: 25px;
  width: 371px;
  height: 633px;
  display: flex;
  padding: 12px 22px 7px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(48, 48, 48, 1);
}
.mobile-text {
  color: rgba(255, 255, 255, 1);
  width: 257px;
  height: auto;
  font-size: 59px;
  font-style: Black;
  text-align: center;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-text02 {
  color: rgba(212, 212, 212, 1);
  width: 334px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-links {
  gap: 19px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mobile-link {
  display: contents;
}
.mobile-tiktok {
  gap: 8px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.mobile-tiktokicon21 {
  width: 21px;
  height: 22px;
}
.mobile-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.mobile-link1 {
  display: contents;
}
.mobile-paypal {
  gap: 8px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(1, 158, 220, 1);
}
.mobile-tiktokicon211 {
  width: 17px;
  height: 21px;
}
.mobile-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.mobile-link2 {
  display: contents;
}
.mobile-devicecollection {
  gap: 4px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(85, 0, 243, 1);
}
.mobile-smartphone {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.mobile-smartphone1 {
  top: 0.9999998211860657px;
  left: 5px;
  width: 14px;
  height: 22px;
  position: absolute;
}
.mobile-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.mobile-link3 {
  display: contents;
}
.mobile-upcomingvideos {
  gap: 6px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(216, 75, 32, 1);
}
.mobile-videocam {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.mobile-videocam1 {
  top: 4px;
  left: 1.9999998807907104px;
  width: 20px;
  height: 16px;
  position: absolute;
}
.mobile-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.mobile-link4 {
  display: contents;
}
.mobile-email {
  gap: 8px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(69, 160, 73, 1);
}
.mobile-mail {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.mobile-mail1 {
  top: 4px;
  left: 1.9999998807907104px;
  width: 20px;
  height: 16px;
  position: absolute;
}
.mobile-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.mobile-text14 {
  color: rgba(212, 212, 212, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-extras {
  gap: 18px;
  width: 337px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mobile-link5 {
  display: contents;
}
.mobile-windowsactivation {
  gap: 4px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 120, 215, 1);
}
.mobile-tiktokicon212 {
  width: 21px;
  height: 20px;
}
.mobile-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.mobile-link6 {
  display: contents;
}
.mobile-techtokwiki {
  gap: 4px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(33, 33, 32, 1);
}
.mobile-tiktokicon213 {
  width: 21px;
  height: 18px;
}
.mobile-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.mobile-link7 {
  display: contents;
}
.mobile-sourcecode {
  gap: 6px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(102, 101, 101, 1);
}
.mobile-tiktokicon214 {
  width: 21px;
  height: 21px;
}
.mobile-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.mobile-bottom {
  gap: 14px;
  width: 604px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.mobile-link8 {
  display: contents;
}
.mobile-bugreport {
  gap: 8px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(69, 160, 73, 1);
}
.mobile-bugreport1 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.mobile-bugreport2 {
  top: 3.3999998569488525px;
  left: 4px;
  width: 16px;
  height: 18px;
  position: absolute;
}
.mobile-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.mobile-text24 {
  color: rgba(212, 212, 212, 1);
  width: 346px;
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
