.desktop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop-desktop {
  gap: 10px;
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: 37px 229px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/tq_-rz4yd8avh-bnd-1500w.png");
}
.desktop-main {
  gap: 25px;
  width: 672px;
  height: 480px;
  display: flex;
  padding: 17px 22px 7px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(48, 48, 48, 1);
}
.desktop-text {
  color: rgba(255, 255, 255, 1);
  width: 257px;
  height: auto;
  font-size: 59px;
  font-style: Black;
  text-align: center;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text02 {
  color: rgba(212, 212, 212, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-links {
  gap: 19px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.desktop-link {
  display: contents;
}
.desktop-tiktok {
  gap: 8px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.desktop-tiktokicon21 {
  width: 21px;
  height: 22px;
}
.desktop-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.desktop-link1 {
  display: contents;
}
.desktop-paypal {
  gap: 8px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(1, 158, 220, 1);
}
.desktop-tiktokicon211 {
  width: 17px;
  height: 21px;
}
.desktop-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.desktop-link2 {
  display: contents;
}
.desktop-devicecollection {
  gap: 4px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(85, 0, 243, 1);
}
.desktop-smartphone {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-smartphone1 {
  top: 0.9999998211860657px;
  left: 5px;
  width: 14px;
  height: 22px;
  position: absolute;
}
.desktop-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.desktop-link3 {
  display: contents;
}
.desktop-upcomingvideos {
  gap: 6px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(216, 75, 32, 1);
}
.desktop-videocam {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-videocam1 {
  top: 4px;
  left: 1.9999998807907104px;
  width: 20px;
  height: 16px;
  position: absolute;
}
.desktop-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.desktop-link4 {
  display: contents;
}
.desktop-email {
  gap: 8px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(69, 160, 73, 1);
}
.desktop-mail {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-mail1 {
  top: 4px;
  left: 1.9999998807907104px;
  width: 20px;
  height: 16px;
  position: absolute;
}
.desktop-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.desktop-text14 {
  color: rgba(212, 212, 212, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-extras {
  gap: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.desktop-link5 {
  display: contents;
}
.desktop-windowsactivation {
  gap: 4px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 120, 215, 1);
}
.desktop-tiktokicon212 {
  width: 21px;
  height: 20px;
}
.desktop-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.desktop-link6 {
  display: contents;
}
.desktop-techtokwiki {
  gap: 4px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(33, 33, 32, 1);
}
.desktop-tiktokicon213 {
  width: 21px;
  height: 18px;
}
.desktop-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.desktop-link7 {
  display: contents;
}
.desktop-sourcecode {
  gap: 6px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(102, 101, 101, 1);
}
.desktop-tiktokicon214 {
  width: 21px;
  height: 21px;
}
.desktop-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.desktop-bottom {
  gap: 14px;
  width: 604px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.desktop-link8 {
  display: contents;
}
.desktop-bugreport {
  gap: 8px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(69, 160, 73, 1);
}
.desktop-bugreport1 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-bugreport2 {
  top: 3.3999998569488525px;
  left: 4px;
  width: 16px;
  height: 18px;
  position: absolute;
}
.desktop-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.desktop-text24 {
  color: rgba(212, 212, 212, 1);
  width: 597px;
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .desktop-desktop {
    width: auto;
  }
  .desktop-main {
    width: 441px;
    height: 661px;
    margin-right: 0px;
  }
  .desktop-text24 {
    color: rgb(212, 212, 212);
    width: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
}
